<div class="login_header_container">
	<%= link_to "", root_path, id: "back_link",class: "glyphicon glyphicon-chevron-left login_header" %>
	<!-- <span class="glyphicon glyphicon-chevron-left login_header"></span> -->
	<h2 class="login_header">SIGN UP</h2>
</div>
<br>

<%= form_for @user do |f| %>

		<%= f.text_field :name, placeholder: "Name" %>
		<%= f.text_field :email, placeholder: "Email" %>
		<%= f.text_field :password, placeholder: "Password" %>
		<%= f.text_field :password_confirmation, placeholder: "Confirm Password" %>
		<%= f.submit "Create Account", class: "auth_btn" %>

<% end %>
  