<% content_for :content do %>
  <section id="map-wrapper">
    <div id="map"></div>
    <a href='#' id='geolocate'>Find me</a>
    
<div class="button-bar">
  <ul class="button-group">
    <li><%= link_to "Sign Out", logout_path, method: "delete", class:"small button" %></li>
    <li><a href='#' id='geolocate', class="small button">Find me</a></li>
    <li><%= link_to "Friends", users_path, method: "get", class:"small button" %></li>
  </ul>
  </div>

    <article></article>
    <script>

    $(function(){ 

      var map = L.mapbox.map('map', 'randyrlee.gj1k9e25');   

      function initialize(){

        

        if (!navigator.geolocation) {
            geolocate.innerHTML = 'geolocation is not available';
        } else {
            geolocate.onclick = function (e) {
                e.preventDefault();
                e.stopPropagation();
                map.locate();
            };
        };

        /// Once we've got a position, zoom and center the map
        // on it, and add a single marker.
        map.on('locationfound', function(e) {
            map.fitBounds(e.bounds);

            var location = map.markerLayer.setGeoJSON({
                type: "Feature",
                geometry: {
                    type: "Point",
                    coordinates: [e.latlng.lng, e.latlng.lat]
                },
                properties: {
                    'marker-color': '#000',
                    'marker-symbol': 'star-stroked'
                }
            });
            // debugger;
            console.log(location);

            var geolocation = location._geojson.geometry.coordinates;


            console.log(geolocation);

            // var center = map.getCenter();
            // user_id will make user id dynamic to current_user
            var user_id = <%= @user.id.to_json %>
            // posts lat and lng to server
            $.ajax({
              url: "/users/current_location/" + user_id,
              data: { latitude: geolocation[1], longitude: geolocation[0] },
              type: "POST",
              dataType: "json",
              success: function(data) {
                console.log(data);
              },
              failure: function() {
                alert("Unsuccessful");
              }
            });
            // And hide the geolocation button
            geolocate.parentNode.removeChild(geolocate);
        });

        // If the user chooses not to allow their location
        // to be shared, display an error message.
        map.on('locationerror', function() {
            geolocate.innerHTML = 'position could not be found';
        });

        findFriends()        
        // debugger;
        
      }

    function findFriends() {

      var friendsCoords = [];

      <% @user.friends.each do |f| %>
        friendsCoords.push(L.latLng(<%= f.latitude %>,<%= f.longitude %>));
      <% end %>

      console.log(friendsCoords);

      var i;

      for (i=0; i < friendsCoords.length; i++) {
        L.marker([friendsCoords[i]['lat'], friendsCoords[i]['lng']]).addTo(map);
       //  L.mapbox.markerLayer({
       //    // this feature is in the GeoJSON format: see geojson.org
       //    // for the full specification
       //    type: 'Feature',
       //    geometry: {
       //        type: 'Point',
       //        // coordinates here are in longitude, latitude order because
       //        // x, y is the standard for GeoJSON and many formats
       //        coordinates: [friendsCoords[i]['lat'], friendsCoords[i]['lng']]
       //    },
       //    properties: {
       //        title: 'A Single Marker',
       //        description: 'Just one of me',
       //        // one can customize markers by adding simplestyle properties
       //        // http://mapbox.com/developers/simplestyle/
       //        'marker-size': 'large',
       //        'marker-color': '#f0a'
       //    }
       // }).addTo(map); 
      };
    } 
     
     google.maps.event.addDomListener(window, "load", initialize);

    });

    </script>
    <%= link_to "Sign Out", logout_path, method: "delete" %>
  </section>
<% end %>
        